{% extends 'base.html' %} 

{% block content %}  
    <div class="container">
        <br><br>
        <h1 class="title">Make post</h1>
        <form action="/newpost" method='POST'>
            {% csrf_token %}
            <small class="is-small">Title</small>
            <textarea name="title" id="title" cols="30" rows="10" class="textarea" placeholder="Post title"></textarea>
            <hr>
            <small class="is-small">Body</small>
            <textarea name="body" id="body" cols="30" rows="10" class='textarea' placeholder="Post Body"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}